.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

*
{
    box-sizing: border-box;
}

[class*="col-"]
{
    float: left;
    padding: 15px;
    border:  1px solid red;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}

body
{
    height: 100%;
    background-image: url('IMG_0821.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (orientation:landscape) and (max-width:600px) {
  body
  {
    background-color: blue;

    background-image: url('IMG_0821_small.jpg');
    background-size: cover;
    background-repeat:repeat;
  }
    
}
@media only screen and (max-width:600px)
{
    body
    {
        font-size: x-large;
        font-weight: bolder;
        background-color: aqua;
        background-image: url('');
    }
    [class*="col-"]
    {
        width: 100%;
    }
    .lorem
    {
        display: none;
    }
}
.row{
    margin:  0px 20%;
}